<div class="card mt-5">
  <div class="card-header">
  <h3>Post Title</h3>
  <small>simple data</small>
    <button  routerLink="/" class="btn btn-info ml-3">Home page</button>
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iusto, quasi? Adipisci alias architecto, asperiores debitis delectus deserunt dicta distinctio fuga ipsam molestiae, nisi obcaecati odit praesentium repudiandae tempora velit, veritatis voluptatum. Consequatur consequuntur enim et ex hic maiores sit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iusto, quasi? Adipisci alias architecto, asperiores debitis delectus deserunt dicta distinctio fuga ipsam molestiae, nisi obcaecati odit praesentium repudiandae tempora velit, veritatis voluptatum. Consequatur consequuntur enim et ex hic maiores sit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iusto, quasi? Adipisci alias architecto, asperiores debitis delectus deserunt dicta distinctio fuga ipsam molestiae, nisi obcaecati odit praesentium repudiandae tempora velit, veritatis voluptatum. Consequatur consequuntur enim et ex hic maiores sit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iusto, quasi? Adipisci alias architecto, asperiores debitis delectus deserunt dicta distinctio fuga ipsam molestiae, nisi obcaecati odit praesentium repudiandae tempora velit, veritatis voluptatum. Consequatur consequuntur enim et ex hic maiores sit?</p>
  </div>
</div>
